<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @film.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Titre:</strong></td>
                <td><%= @film.titre %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @film.description %></td>
              </tr>
              <tr>
                <td><strong>Durée:</strong></td>
                <td><%= @film.durée %></td>
              </tr>
              <tr>
                <td><strong>Réalisateur:</strong></td>
                <td><%= @film.réalisateur %></td>
              </tr>
              <tr>
                <td><strong>Note:</strong></td>
                <td><%= @film.note %></td>
              </tr>
            </tbody>
          </table>
        </div>
     </div>
    </div>
  </div>
</div> 

<%= link_to 'Editer', edit_film_path(@film) %> |
<%= link_to 'Retour', films_path %>
